#topbar .show-mobile .inner-toggle {
  left: 0;
  right: auto;
}
#topbar .show-mobile .dropdown-menu {
  left: 0;
  right: auto;
}
#topbar .show-mobile #search-mobile .button-search {
  left: 0;
  right: auto;
}
.navbar-header {
  float: right;
}
.navbar-nav > li {
  float: right;
}
#pav-mainnav .navbar ul.nav > li.aligned-fullwidth > .dropdown-menu .dropdown-submenu:hover > .dropdown-menu {
  right: 0;
  left: auto;
}
#pav-mainnav .navbar ul.nav > li.aligned-right .dropdown-menu {
  left: 0;
  right: auto;
}
#pav-mainnav .navbar ul.nav > li.aligned-right .dropdown-menu .dropdown-submenu:hover > .dropdown-menu {
  left: 100%;
}
#pav-mainnav .navbar ul.nav > li.aligned-left .dropdown-menu {
  right: 0;
  left: auto;
}
#pav-mainnav .navbar ul.nav > li.aligned-left .dropdown-menu .dropdown-submenu:hover > .dropdown-menu {
  right: 100%;
}
#pav-mainnav .navbar ul.nav > li.aligned-center .dropdown-menu {
  right: 50%;
  transform: translate(50%);
  -webkit-transform: translate(50%);
  -moz-transform: translate(50%);
  -ms-transform: translate(50%);
  -o-transform: translate(50%);
}
.dropdown-menu {
  left: inherit;
  right: 0;
  float: right;
}
#pav-mainnav .megamenu .menu-icon {
  background-position: right center !important;
  padding-right: 30px;
  padding-left: 0;
}
.button-close-menu {
  right: auto;
  left: 15px;
}
.text-right {
  text-align: left;
}
.text-left {
  text-align: right;
}
.product-list .image {
  float: right;
  margin-right: 0;
  margin-left: 11px;
}
.product-list .product-block {
  text-align: right;
}
.box.productdeals .deal_detail {
  text-align: right;
}
.box.productdeals .product-filter > div {
  float: right;
}
.product-list .product-block .product-action .cart {
  border-right: 1px solid #ededed;
  border-left: none;
}
.product-block .product-action .cart {
  float: right;
}
.product-block .product-action .wishlist-compare a {
  border-right: 1px solid #ededed;
  border-left: 0;
}
#cart .dropdown-menu {
  left: 0;
  right: auto;
}
.box-services > .pull-left,
#cart .pull-left,
.media > .pull-left {
  margin-left: 10px;
  margin-right: 0;
}
.box .box-heading span:before {
  left: 100%;
  right: inherit;
}
.box .box-heading span:after {
  right: 100%;
  left: inherit;
}
#footer .box .box-heading {
  text-align: right;
}
.sidebar .box.dark .box-heading:before {
  left: inherit;
}
.sidebar .box .box-heading {
  text-align: right;
}
.sidebar .box .box-heading span:before {
  border-left: 24px solid transparent;
  border-right: 0;
}
#content h1:after {
  left: inherit;
  right: 0;
}
.htabs a {
  float: right;
}
/*Search*/
#search .button-search {
  right: inherit;
  left: 0;
}
#search input {
  padding: 5px 10px 5px 30px;
}
.blog-meta ul {
  text-align: left;
}
#header #cart .content {
  right: inherit;
  left: 0;
}
.pavblock .image {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
.iconbox {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
.iconbox i {
  padding-right: 3px;
  padding-left: 0;
}
.box-media .media p {
  margin-right: 0;
}
#pav-mainnav .dropdown-menu {
  text-align: right;
}
.widget-product-list .image {
  float: right !important;
  margin-left: 10px;
  margin-right: 0;
}
.widget-inner ul li {
  margin-left: 10px;
  margin-right: 0;
}
ul.list > li > a {
  background-position: right 3px;
  padding-right: 15px;
  padding-left: 0;
}
ul.list > li > a:hover,
ul.list > li > a.active {
  background-position: right -45px;
}
ul.list > li ul > li {
  padding: 10px 25px 0 0;
}
.tree-menu > ul > li .head a {
  left: 10px;
  right: auto;
}
.tree-menu > ul > li ul > li > a {
  padding-right: 35px;
  padding-left: 0;
}
.sidebar .product-block {
  text-align: right;
}
.sidebar .product-block .image {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}
.product-filter .display {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
.product-filter .display button {
  border-left: none;
  border-right: 1px solid #ededed;
}
.product-filter .display span {
  float: right!important;
  padding-top: 14px;
}
.product-filter .sort,
.product-filter .limit,
.product-filter .product-compare {
  float: left !important;
  margin-left: 10px;
  margin-right: 0 !important;
}
.product-info .quantity-wrapper span {
  border-right: none;
}
.product-info .action > div .fa {
  padding-right: 0;
  padding-left: 3px;
}
.nav-tabs > li {
  float: right;
}
.tab-nav .nav-tabs > li {
  padding: 0 20px 0 0;
}
ul.list li:before,
.btn-arrow-right:before {
  content: "\f177";
  right: 0;
  left: auto;
}
.widget-inner ul > li:before,
.dropdown-mega ul > li:before {
  content: "\f177";
  left: 0;
  right: auto;
}
#footer .column ul li:hover {
  margin-right: 5px;
}
#menu-offcanvas .dropdown .dropdown-menu .dropdown-menu-inner li {
  padding-right: 3px;
}
/* vetical */
#pav-verticalmenu .megamenu .dropdown .dropdown-menu ul li.mega-group .dropdown-toggle span,
#pav-verticalmenu .pavo-widget .menu-title {
  padding-right: 15px;
  padding-left: 0;
}
#pav-verticalmenu .bullets li:before {
  content: "\f177";
  left: 0;
  right: auto;
}
#pav-verticalmenu .navbar-nav .dropdown-menu ul li a {
  padding-left: 0;
  padding-right: 15px;
}
#pav-verticalmenu .navbar-nav > li:hover > .dropdown-menu {
  right: 100%;
  left: auto;
}
#pav-verticalmenu .navbar-nav > li .parent:hover > .dropdown-menu {
  left: auto;
  right: 100%;
}
#pav-verticalmenu .navbar-nav > li > a .caret {
  left: 18px;
  right: auto;
  border-right: 5px solid;
  border-left: none;
}
#pav-verticalmenu .navbar-nav > li .widget-inner {
  padding-right: 10px;
  padding-left: 0;
}
/*newletter*/
.footer-newsletter .button-group {
  left: 0;
  right: auto;
}
.footer-newsletter .button-group .close {
  margin-left: -225px;
  margin-right: 0;
  border-left: none;
  border-radius: 0 40px 40px 0;
}
.footer-newsletter .button-group .close:hover {
  margin-left: 0;
}
.footer-newsletter .button-group .show-button input {
  margin-left: 5px;
}
.footer-newsletter .button-group .fa-angle-left:before {
  content: "\f105";
}
.newsletter .btn-arrow-right:before {
  right: auto;
  left: 76px;
}
.newsletter-fly .btn-arrow-right:before {
  right: auto;
  left: 76px;
}
.newsletter-fly .form-newsletter .box-left {
  margin-right: 0;
  margin-left: 20px;
}
.valid {
  right: 0;
  left: auto;
}
.close {
  float: left;
}
